/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #hero {
    height: 580px;
  }
  .about-icon {
    right: 40px;
  }
  #how-it-works div .how-it-works-image-container img {
    width: 70%;
  }
}
/* Medium devices Only (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
  #hero {
    height: 480px;
  }
  #hero div .hero-text {
    margin-top: 150px;
    font-size: 2.4em;
  }
}
/* Small devices Only (desktops, 992px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  #hero {
    height: 400px;
  }
  #hero div .hero-text {
    margin-top: 200px;
    font-size: 2em;
  }
  #how-it-works div .screenshot-image-container img {
    width: 100%;
  }
}
/* Extra Small devices Landscape phones and down */
@media (max-width: 767px) {
  #hero {
    height: 480px;
  }
  #hero div .hero-text {
    margin-top: 200px;
    font-size: 1.6em;
  }
  #how-it-works div .screenshot-image-container img {
    width: 100%;
  }
  #how-it-works div .how-it-works-image-container img {
    width: 100%;
  }
}
/* Micro devices only Landscape phones and down */
@media (max-width: 480px) {
  #hero {
    height: 300px;
  }
  #hero div .hero-text {
    margin-top: 130px;
    font-size: 1.5em;
  }
}
