/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #hero {
    height: 615px;
  }
  .about-icon {
    right: 40px;
  }
  #how-it-works div .how-it-works-image-container img {
    width: 70%;
  }
	#footer .footer-links {
		float: right;
	}
}
/* Medium devices Only (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
  #hero {
    height: 560px;
  }
  #hero div .hero-text {
    margin-top: 200px;
    font-size: 2.8em;
  }
  #header #ask-a-mentor-logo {
    height: 65px;
  }
	#footer .footer-links {
		float: right;
	}
}
/* Small devices Only (desktops, 992px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  #hero {
    height: 530px;
	  background-position: center;
	  position:relative;
  }
  #hero div .hero-text {
    margin-top: 165px;
    font-size: 2.5em;
  }
  #how-it-works div .screenshot-image-container img {
    width: 100%;
  }
  #footer .footer-links {
	float: right;
  }
	#promotion-image{
		width: 80px;
	}
	.promotion-text{
		font-size: 1.4em;
	}
	#signUpModal iframe {
		min-height: 315px;
	}
}
/* Extra Small devices Landscape phones and down */
@media (max-width: 767px) {
  #hero {
    height: 480px;
	  background-position: center;
  }
  #hero div .hero-text {
    margin-top: 135px;
    font-size: 2.2em;
  }
  #how-it-works div .screenshot-image-container img {
    width: 100%;
  }
  #how-it-works div .how-it-works-image-container img {
    width: 100%;
  }

	#promotion-image{
		width: 75px;
	}
	.promotion-text{
		font-size: 1.4em;
	}
	.promotion {
		margin-top: 20px;
	}
	.promotion-button{
		margin-top: 20px;
	}
	#signUpModal iframe {
		min-height: 315px;
	}
}
/* Micro devices only Landscape phones and down */
@media (max-width: 480px) {
  #hero {
    height: 400px;
	  background-position: center;
  }
  #hero div .hero-text {
    margin-top: 125px;
    font-size: 1.5em;
  }

  #meet-our-mentors .mentors-carousel {
    margin-left: 20px;
    margin-right: 20px;
  }
  #ask-a-mentor-logo {
    margin-top: 10px;
    margin-left: 15px;
    height: 65px;
  }
	#promotion-image{
		width: 45px;
	}
	.promotion-text{
		font-size: 1em;
	}

	#signUpModal iframe {
		min-height: 500px;
	}
}

@media (max-width: 866px) {
  #meet-our-mentors .mentors-carousel {
    margin-left: 20px;
    margin-right: 20px;
  }
}
